/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: rgb(99, 96, 96);
}

/* Utilitys */
.container{
    width: 1170px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.w-50{
    width: 50%;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}
a {
    color: #fff;
    text-decoration: none;
}

.btn{
    width: 100px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 25px;
    border: 1px solid #fff;
}

.btn-green{
    background-color: #7cbb01;
    border: 1px solid transparent;
}

.btn-big{
    padding: 20px;
} 

/* Header menù */

.navbar{
    position: fixed;
    z-index: 10;
    width: 100%;
}

.menù-container{
    position: fixed;
    z-index: 10;
    top: 25px;
    left: 60px;
}

.bar{
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 5px;
    transition-duration: 0.5s;
}

.menù-container:hover .bar1,
.menù-container:hover .bar3{
    background-color: #7cbb01;
    transform: translateX(10px);
}

.menù-container:hover .bar2{
    background-color: rgb(0, 204, 255);
    transform: translateX(-10px);   
}

/* Header conteiner */
.navbar{
    font-size: 12px;
    background-color: #0d305a;
    line-height: 80px;
    text-transform: uppercase;
    color: #fff;
}

/* Logo */
.logo{
    width: 15%;
}
.navbar .container .logo img{
    vertical-align: middle;
    position: relative;
    top:-5px;
}

/* Nav-center */
.nav-center{
    width: 42%;
}

/* Nav-right */
.nav-right{
    width: 43%;
    text-align: right;
}

/* Hover nav bar */
.nav-right .btn:hover{
    background-color: #7cbb01;
    transition-duration: 0.5s;
}
.nav-right .btn.btn-green:hover,
.jumbotron .container .btn.btn-green.btn-big:hover{
    background-color: transparent;
    border: 1px solid #fff;
    transition-duration: 0.5s;
}


.container nav ul li a:not(.btn):hover{
    color: #7cbb01;
}

/* jumbotron */

.jumbotron{
    height: 500px;
    background-color: #0d305a;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 115% 110%;
}

.jumbotron .container{
    position: relative;
    height: 100%;
}

.jumbotron .container .jumbo-text{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.jumbotron .container .jumbo-text h1{
    font-size: 48px;
    color: #fff;
    margin-bottom: 50px;
}

/* Central bar */
.central-bar{
    height: 100px;
    background-color: rgba(128, 128, 128,0.5);
    text-align: center;
}
.container-central-bar{
    padding: 20px 0 20px 0;
}
.container-central-bar h2{
    color: black;
}

/* Central content */
.central-content .container{
    height: 400px;
}
.central-content .item img{
    width: 100px;
}

.item{
    display: inline-block;
    width: 30%;
    text-align: center;
    padding-top: 20px;
    margin: 1%;
}
.item img{
    padding-bottom: 15px;
}

.item.item2 img{
    width:170px ;
}
.item.item3 img{
    width:120px ;
    position: relative;
    right: 18px;
}

.item h3{
    color: #7cbb01;
}
/* Small-bar and big bar */
.big-bar{
    width: 96vw;
    height: 3px;
    background-color: rgba(128, 128, 128,0.5);
    border-radius: 20px;
    margin: 0 auto 50px auto;
    
}

.small-bar{
    width: 70px;
    height: 3px;
    background-color: rgba(128, 128, 128,0.5);
    border-radius: 20px;
    margin: 20px auto;
}

/* Grafic-content */
.grafic-content{
    height: 550px;
}

/* Grafic content */

.grafic-content .container .text-grafic{
    margin-left: 50px;
    width: 38%;
}

.grafic-content .container .text-grafic p{
    margin: 10px 0;
}

.grafic-content .container .text-grafic a{
    text-decoration: underline;
    color: blue;
}

/* Select */
section .select-bar{
    line-height: 100px;
    background-color:rgba(128, 128, 128,0.5);
    margin-bottom: 40px;
}

.text-footer{
    width: 30%;
}

.selection-footer{
    width: 70%;
}
.selection-footer{
    text-align: right;
}

section.selection-footer ul li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

section.selection-footer ul li:first-child{
    font-size: 20px;
}

section.selection-footer ul li:last-child{
    margin-left: 20px;
}

.selection{
    border-bottom: 1px solid grey;
    
}

.selection-footer{
    text-align: right;
}

.arrow{
    padding-left: 70px;
}
/* Help btn */
.help{
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 100px;
}

.help-btn{
    width: 30px;
    height: 30px;
    background-color: #7cbb01;
    padding: 10px;
    border-radius: 10px 10px 0 0 ;
}
/* Hover btn select-bar */
.help:hover .help-btn{
    background-color: rgb(62, 62, 207);
    transition-duration: 0.5s;
}

.selection-footer ul li .btn:hover{
    background-color: rgb(62, 62, 207);
    transition-duration: 0.5s;
}

.select-bar .text-footer a{
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

#select{
    display: inline-block;
    width: 200px;
    height: 30px;
    border:0px;
    background-color:transparent;
    border-bottom: 1px solid grey;
}

/* Hand section */
.hand-section{
    height: 380px;
}

.hand-section .text-hand{
    width: 35%;
}

.hand-section .text-hand h2{
    color:black;
    padding-bottom: 40px;
    
}

section .two-section ul li{
    display: inline-block;
    list-style: none;
    margin-top:30px;
    padding:10px ;

}


section .two-section .section-right a{ 
    color: rgb(62, 62, 207);
}

.two-section .section-left{
    background-color: #7cbb01;
    border-radius: 10px;
}

.two-section .section-right{
    text-align: center;
}

/* Img-computer */
.img-computer{
    height: 500px;
}

.img-computer .container{
    text-align: center;
}
.img-computer .container img{
    width: 700px;
}

.img-computer .container .text-img-computer{
    color: #7cbb01;
}
.img-computer .container  a{
    text-decoration: underline;
    color: blue;
}
.img-computer .container p{
    margin: 20px 0px;
}

/* Section scopri come */
.scopri-come{
    height: 500px;
    background-color: #0d305a;
}

.scopri-come .container{
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
}
.scopri-come .container p{
    margin: 50px 0;
    color: grey;
}

.scopri-come .container .scopri-come-section a:hover{
    background-color: transparent;
    border: 1px solid white;
    transition-duration: 0.5s;
}

/* Section struttura un piano */
.struttura-un-piano{
    height: 500px;
}

.struttura-un-piano .container{
    text-align: center;
}

.struttura-un-piano h2{
    padding: 50px 0 ;
}
.struttura-un-piano .object{
    height: 50px;
    width: 31%;
    margin: 1%;
    text-align: left;
}
.struttura-un-piano .object img{
    width: 70px;
    padding-bottom: 30px;
}

.struttura-un-piano .object.azienda img{
    width: 60px;
}

.struttura-un-piano .object.professionista img{
    width: 65px;
}


.struttura-un-piano .object h3{
    padding-bottom: 30px;
}
.struttura-un-piano .object p{
    margin-bottom: 30px;
}

.struttura-un-piano .object a{
    text-decoration: underline;
}

.struttura-un-piano .object .color-bar{
    width: 330px;
    height: 7px;
    margin-bottom: 20px;
}

.studente .color-bar{
    background-color:rgb(0, 238, 255);
}

.professionista .color-bar{
    background-color: rgb(235, 166, 39);
}

.azienda .color-bar{
    background-color: rgb(94, 128, 0);
}

.studente a{
    color:rgb(0, 238, 255);
}
.professionista a{
    color:rgb(235, 166, 39) ;
}
.azienda a{
    color: rgb(94, 128, 0);
}

/* Section dubbi */
.dubbi{
    background-color: #092547;
    height: 100px;
}

footer{
    background-color: #0d305a;
    height: 330px;
    position: relative;
}

/* Contact-footer */
.dubbi .container{
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.dubbi .container span{
    color: orange;
}
.dubbi .container h2{
    color: #fff;
    padding-bottom: 15px;
}
.dubbi .container a{
    color: grey;
}
.dubbi .container a:hover{
    color: orange;
}

/* Footer */
.footer-azienda ul li{
    list-style: none;
    padding-top: 20px;
}

.footer-azienda ul li a{
    color: grey;
}

.footer-azienda ul li:first-child{
    font-size: 28px;
}

.footer-azienda ul li a.azienda-ancor{
    color: #fff;
}

.indirizzi{
    text-align: right;
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translateY(-50%);
}

.indirizzi h2{
    padding-bottom:20px;
    color: #fff;
}
.indirizzi h2:first-child{
    text-transform: uppercase;
}