/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: rgb(99, 96, 96);
}

/* Utilitys */
.container{
    width: 1170px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.w-50{
    width: 50%;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}
a{
    color: #fff;
    text-decoration: none;
}

.btn{
    width: 100px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
}

.btn-green{
    background-color: #7cbb01;
    border: 1px solid transparent;
}

.btn-big{
    padding: 20px;
} 

/* Header menù */

.navbar{
    position: fixed;
    z-index: 10;
}

.menù-container{
    position: fixed;
    z-index: 10;
    top: 25px;
    left: 60px;
}

.bar{
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 5px;
    transition-duration: 0.5s;
}

.menù-container:hover .bar1,
.menù-container:hover .bar3{
    background-color: hotpink;
    transform: translateX(10px);
}

.menù-container:hover .bar2{
    background-color: #7cbb01;
    transform: translateX(-10px);   
}

/* Header conteiner */
.navbar{
    font-size: 12px;
    width: 100vw;
    background-color: #0d305a;
    line-height: 80px;
    text-transform: uppercase;
    color: #fff;
}

/* Logo */
.logo{
    width: 15%;
}
.navbar .container .logo img{
    vertical-align: middle;
    position: relative;
    top:-5px;
}

/* Nav-center */
.nav-center{
    width: 50%;
}

/* Nav-right */
.nav-right{
    width: 35%;
    text-align: right;
}

/* Hover nav bar */
.nav-right .btn:hover{
    background-color: #7cbb01;
    transition-duration: 0.5s;
}
.nav-right .btn.btn-green:hover,
.jumbotron .container .btn.btn-green.btn-big:hover{
    background-color: transparent;
    border: 1px solid #fff;
    transition-duration: 0.5s;
}


.container nav ul li a:not(.btn):hover{
    color: ##7cbb01;
}

/* jumbotron */

.jumbotron{
    width: 100vw;
    height: 500px;
    background-color: #0d305a;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 115% 110%;
}

.jumbotron .container{
    position: relative;
    height: 100%;
}

.jumbotron .container .jumbo-text{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.jumbotron .container .jumbo-text h1{
    font-size: 48px;
    color: #fff;
    margin-bottom: 50px;
}

/* Central bar */
.central-bar{
    width: 100vw;
    height: 100px;
    background-color: rgba(128, 128, 128,0.5);
    text-align: center;
}
.container-central-bar{
    padding: 20px 0 20px 0;
}
.container-central-bar h2{
    color: black;
}

/* Central content */
.central-content {
    width: 100vw;
}
.central-content .container{
    height: 400px;
}
.central-content .item img{
    width: 100px;
}

.item{
    display: inline-block;
    width: 30%;
    text-align: center;
    padding-top: 20px;
    margin: 1%;
}

.item.item2 img{
    width:170px ;
}
.item.item3 img{
    width:120px ;
    position: relative;
    right: 18px;
}

.item h3{
    color: #7cbb01;
}
/* Small-bar and big bar */
.big-bar{
    width: 96vw;
    height: 3px;
    background-color: rgba(128, 128, 128,0.5);
    border-radius: 20px;
    margin: 40px auto;
    
}

.small-bar{
    width: 50px;
    height: 5px;
    background-color: rgba(128, 128, 128,0.5);
    border-radius: 20px;
    margin: 30px auto;
}

/* Grafic-content */
.grafic-content{
    width: 100vw;
    height: 550px;
}

/* Grafic content */

.grafic-content .container .text-grafic{
    margin-left: 50px;
    width: 38%;
}

.grafic-content .container .text-grafic a{
    text-decoration: underline;
    color: blue;
}

/* Footer */
footer .footer{
    width: 100vw;
    line-height: 100px;
    background-color:rgba(128, 128, 128,0.5);
}

.text-footer{
    width: 30%;
}

.selection-footer{
    width: 70%;
}
.selection-footer{
    text-align: right;
}

section.selection-footer ul li{
    display: inline-block;
    list-style: none;
    margin-left: 60px;
}

section.selection-footer ul li:last-child{
    margin-left: 20px;
}

.selection{
    border-bottom: 1px solid grey;
    
}

.selection-footer{
    position: relative;
    right: 100px;
}

.arrow{
    padding-left: 70px;
}
/* Help btn */
.help{
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 200px;
}

.help-btn{
    width: 30px;
    height: 30px;
    background-color: #7cbb01;
    padding: 10px;
    border-radius: 10px 10px 0 0 ;
}
/* Hover btn footer */
.help:hover .help-btn{
    background-color: #0d305a;
    transition-duration: 0.5s;
}

.selection-footer ul li .btn:hover{
    background-color: transparent;
    border: 1px solid green;
    color: green;
    transition-duration: 0.5s;
}

footer .text-footer a{
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}